<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Custom DFA</title>
    <link rel="stylesheet" href="../stylesheets/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script>
        var statesChecked = false;
        var states = [];
        var startState = "";
        var acceptState = [];
        var alphabet = [];
        function checkNumStates(){
            var stateOutting = "";
            states = [];
            var input = document.getElementById("states").value;
            stateOutput.innerHTML = "";
            if(input <= 0){
                stateOutput.innerHTML += "<pre> Please input a number greater than 0 </pre>";
            } else {
                statesChecked = true;
                for (var i = 0; i < input; i++){
                    states[i] = "q" + i;
                    if(i == input-1){
                        stateOutting += states[i];
                    } else {
                        stateOutting += states[i] + ", ";
                    }
                }
            }
            if(statesChecked){
                stateOutput.innerHTML += "<pre>States (Q): {" + stateOutting + "}</pre>"
            }
        }
        function checkAlphabet(){
            var alphabetChecked = false;
            alphabet = []
            var alphaOutting = "";
            var input = document.getElementById("alphabet").value;
            alphaOutput.innerHTML = "";
            if(input <= 0){
                alphaOutput.innerHTML += "<pre> Please input a number greater than 0 </pre>";
            } else {
                alphabetChecked = true;
                for (var i = 0; i < input; i++){
                    alphabet[i] = i;
                    if(i == input-1){
                        alphaOutting += alphabet[i];
                    } else {
                        alphaOutting += alphabet[i] + ", ";
                    }
                }
            }
            if(alphabetChecked){
                alphaOutput.innerHTML += "<pre>Alphabet (E): {" + alphaOutting + "}</pre>"
            }
        }
        function checkStart(){
            var checkStart = false;
            var input = document.getElementById("start").value;
            startState = "";
            startOutput.innerHTML = "";

            if(statesChecked){
                var max = states.length - 1;
                if(0 <= input && input <= max){
                    checkStart = true;
                    startState = states[input];
                } else {
                    startOutput.innerHTML += "<pre>Please input a valid number that corresponds to a state in Q (ex. 2 --> q2)</pre>";
                }
            } else {
                startOutput.innerHTML += "<pre>Please input number of states first</pre>";
            }
            if(checkStart){
                startOutput.innerHTML += "<pre> Start State (q0): " + startState + "</pre>";
            }
        }
        function checkAccepts(){
            var checkAccepts = false;
            var input = document.getElementById("accept").value;
            acceptState = [];
            var acceptOutting = "";
            acceptOutput.innerHTML = "";

            if(statesChecked){
                if(input == "e"){
                    acceptState = [];
                    checkAccepts = true;
                } else if(input.includes(" ")){
                    acceptOutput.innerHTML = "<pre>Please do not include spaces in list of accepts states</pre>";
                } else {
                    acceptState = input.split(',');
                    for(var i = 0; i < acceptState.length; i++) {
                        if (!states.includes(acceptState[i])) {
                            checkAccepts = false;
                            acceptOutput.innerHTML = "<pre>Please only enter valid states from the set of states " +
                                "listed above and format input correctly.</pre>";
                            break;
                        } else {
                            checkAccepts = true;
                        }
                    }
                    if(checkAccepts){
                        for(i = 0; i < acceptState.length; i++){
                            if(i != acceptState.length - 1){
                                acceptOutting += acceptState[i] + ", ";
                            } else {
                                acceptOutting += acceptState[i];
                            }
                        }
                    }
                }
            } else {
                acceptOutput.innerHTML = "<pre>Please valid number of states before entering accept states.</pre>";
            }
            if(checkAccepts){
                acceptOutput.innerHTML += "<pre>Accept States (F): {" + acceptOutting + "}</pre>";
            }
        }
    </script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="/">Home</a>
            <a class="nav-item nav-link" href="moroneyDFAM1">Machine 1</a>
            <a class="nav-item nav-link" href="moroneyDFAM2">Machine 2</a>
            <a class="nav-item nav-link" href="moroneyDFAM3">Machine 3</a>
            <a class="nav-item nav-link active" href="custom">Create your own DFA</a>
        </div>
    </div>
</nav>
<h1>Chris Moroney's CSC 4210 DFA Extra Credit</h1>
<h3>Winter 2021</h3>

<div class="container">
    <p>Please use this section to modify one of the existing machines or to create your own DFA. Formal descriptions are provided in each
        of the existing machines.</p>
    <br>
    <label for="states">Number of States (number greater than 0)</label>
    <div class="input-group">
        <input type="number" name="states" id="states" class="form-control"
               placeholder="0" required="true">
        <button class="btn btn-info" id="btnSubmit1">Submit</button>
    </div>
    <div class="container" id="stateOutput">

    </div>
    <label for="alphabet">Number of chars in Alphabet (number greater than 0):</label>
    <div class="input-group">
        <input type="number" name="alphabet" id="alphabet" class="form-control"
               placeholder="0" required="true">
        <button class="btn btn-info" id="btnSubmit2">Submit</button>
    </div>
    <div class="container" id="alphaOutput">

    </div>
    <label for="start">Start state (number corresponding to state):</label>
    <div class="input-group">
        <input type="number" name="start" id="start" class="form-control"
               placeholder="0 --> q0" required="true">
        <button class="btn btn-info" id="btnSubmit3">Submit</button>
    </div>
    <div class="container" id="startOutput">

    </div>
    <label for="accept">Accept states (comma separated, no spaces, e for empty):</label>
    <div class="input-group">
        <input type="text" name="accept" id="accept" class="form-control"
               placeholder="q0,q1" required="true">
        <button class="btn btn-info" id="btnSubmit4">Submit</button>
    </div>
    <div class="container" id="acceptOutput">

    </div>
    <label for="transition">Transitions (please follow the format below, each rule separated by |):</label>
    <div class="input-group">
        <input type="text" name="transition" id="transition" class="form-control"
               placeholder="(current_state,alphabet,next_state)|(...)" required="true">
        <button class="btn btn-info" id="btnSubmit5">Submit</button>
    </div>
    <div class="container" id="transitionOutput">

    </div>
</div>
<script>
    document.getElementById("btnSubmit1").addEventListener("click", checkNumStates);
    document.getElementById("btnSubmit2").addEventListener("click", checkAlphabet);
    document.getElementById("btnSubmit3").addEventListener("click", checkStart);
    document.getElementById("btnSubmit4").addEventListener("click", checkAccepts);
    //document.getElementById("btnSubmit5").addEventListener("click", checkTransitions);
</script>
</body>
</html>