body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
h1 {
  text-align: center;
}

h3 {
  text-align: center;
}

b {
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.image img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: 450px;
}

.jumbotron p {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.jumbotron pre {
  text-align: center;
  font: 15px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.container {
  padding: 10px;
}
